/*Cancha*/
#field.striped {
  /*position: relative;*/
  background: url("../assets/images/imagen\ cancha.png");
  background-size: 480px 600px;
  border-style: inset;
  border-color: rgba(172, 255, 47, 0.69);
  border-width: 2px;
  display: inline-block;
}

#field {
  height: 600px;
  width: 480px;
}

.btn {
  margin: 5px;
}

.field-container {
  display: inline-block;
}

.field-header {
  background-color: #0b1724;
  float: left;
  border-radius: 5px;
  border-style: inset;
  border-color: rgba(172, 255, 47, 0.69);
  border-width: 2px;
  width: 65%;
  margin-bottom: 10px;
}

.team-load-select {
  background-color: white;
  border-radius: 30px;
  margin-top: 20px;
  height: 40px;
}
