body {
  background-image: url("https://wallpapercave.com/wp/wp2033589.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size: 14px;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.player-1 {
  position: absolute;
  top: 138px;
  left: 115px;
}
.player-1 > img {
  width: 20%;
}
.player-2 {
  position: absolute;
  top: 138px;
  left: 300px;
}
.player-2 > img {
  width: 50%;
}
.player-3 {
  position: absolute;
  top: 138px;
  left: 400px;
}
.player-3 > img {
  width: 50%;
}
.player-4 {
  position: absolute;
  top: 138px;
  left: 350px;
}
.player-4 > img {
  width: 20%;
}
.player-1 {
  position: absolute;
  top: 138px;
  left: 115px;
}
.player-1 > img {
  width: 20%;
}

/*Cancha*/
#field.striped {
  position: relative;
  background: url("../assets/images/imagen\ cancha.png");
  background-size: 480px 600px;
  border-radius: 10px;
  border-color: #f5f5f5;
}

#field {
  height: 600px;
  width: 480px;
}

/*Caja con pesatañas*/
.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 10px auto;
  padding-left: 25px;
  padding-right: 25px;
}
.mytabs input[type="radio"] {
  display: none;
}
.mytabs label {
  padding: 15px;
  background: #e2e2e2;
  font-weight: bold;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #fff;
  order: 1;
  display: none;
}

.mytabs .tab h2 {
  font-size: 3em;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: rgb(255, 255, 255);
}

/*Estilos de los formularios*/
.divFormLabel {
  font-size: 14px;
  width: 90%;
  margin-top: 10px;
  font-weight: 700;
  color: #3f3f3f;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  width: 150%;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

tr {
  font-size: 14px;
  white-space: nowrap;
  line-height: 1.6rem;
  display: table-row;
}

select {
  cursor: default;
  border-spacing: 0;
  border-collapse: separate;
  box-sizing: border-box;
  bottom: 0;
  color: #aaa;
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*Contenedores principales*/
.column {
  float: left;
  width: 50%;
}

.mainContainer {
  margin-top: 4%;
}

.mainContainer:after {
  content: "";
  display: table;
  clear: both;
}

/*Estilo de los botones*/
.buttonBuild {
  padding: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  min-width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  width: 220px;
  background-color: #3ea055;
  color: #fff;
  border: none;
  font-size: 16px;
  display: inline-block;
}
