body {
  background-image: url("https://wallpapercave.com/wp/wp2033589.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size: 14px;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/*Estilos de los jugadores en cancha*/
.player-1 {
  display: inline-block;
  position: absolute;
  top: 216px;
  left: 958px;
}
.player-1 > img {
  width: 14%;
}
.player-2 {
  display: inline-block;
  position: absolute;
  top: 216px;
  left: 1096px;
}
.player-2 > img {
  width: 14%;
}
.player-3 {
  display: inline-block;
  position: absolute;
  top: 318px;
  left: 867px;
}
.player-3 > img {
  width: 14%;
}
.player-4 {
  display: inline-block;
  position: absolute;
  top: 395px;
  left: 958px;
}
.player-4 > img {
  width: 14%;
}
.player-5 {
  display: inline-block;
  position: absolute;
  top: 395px;
  left: 1096px;
}
.player-5 > img {
  width: 14%;
}
.player-6 {
  display: inline-block;
  position: absolute;
  top: 318px;
  left: 1185px;
}
.player-6 > img {
  width: 14%;
}
.player-7 {
  display: inline-block;
  position: absolute;
  top: 510px;
  left: 867px;
}
.player-7 > img {
  width: 14%;
}
.player-8 {
  display: inline-block;
  position: absolute;
  top: 558px;
  left: 958px;
}
.player-8 > img {
  width: 14%;
}
.player-9 {
  display: inline-block;
  position: absolute;
  top: 558px;
  left: 1096px;
}
.player-9 > img {
  width: 14%;
}
.player-10 {
  position: absolute;
  top: 510px;
  left: 1185px;
}
.player-10 > img {
  width: 14%;
}
.player-11 {
  position: absolute;
  top: 639px;
  left: 1026px;
}
.player-11 > img {
  width: 14%;
}
.playerFieldInput {
  width: 14%;
  background: transparent;
  border: none;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  text-shadow: 1px 1px 1px #000;
  height: 20px;
}

/*Cancha*/
#field.striped {
  /*position: relative;*/
  background: url("../assets/images/imagen\ cancha.png");
  background-size: 480px 600px;
  border-radius: 10px;
  border-color: #f5f5f5;
}

#field {
  height: 600px;
  width: 480px;
}

/*Caja con pesatañas*/
.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 10px auto;
  padding-left: 25px;
  padding-right: 25px;
}
.mytabs input[type="radio"] {
  display: none;
}
.mytabs label {
  padding: 15px;
  background: #e2e2e2;
  font-weight: bold;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #fff;
  order: 1;
  display: none;
  font-size: 14px;
}

.mytabs .tab h2 {
  font-size: 3em;
}

.mytabs input[type="radio"]:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: rgb(255, 255, 255);
}

/*Estilos de los formularios*/
.form-label {
  font-size: 14px;
  width: 90%;
  margin-top: 10px;
  font-weight: 700;
  color: #3f3f3f;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  height: 35px;
  width: 150%;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

tr {
  font-size: 14px;
  white-space: nowrap;
  line-height: 1.6rem;
  display: table-row;
}

select {
  cursor: default;
  border-spacing: 0;
  border-collapse: separate;
  box-sizing: border-box;
  bottom: 0;
  color: rgb(0, 0, 0);
  line-height: 34px;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 35px;
}

/*Estilos de pestaña de jugadores*/
.shirtNumberColumn {
  width: 50px;
  background-color: blue;
  float: left;
}
.playerNameColumn {
  width: 335px;
  background-color: red;
  float: right;
}
.inputPlayerNumber {
  box-sizing: border-box;
  margin: auto 0 5px;
  width: inherit;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid;
  margin-top: 8px;
  text-align: center;
  height: 30px;
}

.inputPlayerName {
  box-sizing: border-box;
  margin: auto 0 5px;
  width: inherit;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  margin-top: 8px;
  text-align: center;
  height: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid;
}

/*Contenedores principales*/
.column {
  float: left;
  width: 45%;
}

.main-container {
  margin-top: 4%;
}

.main-container:after {
  content: "";
  display: table;
  clear: both;
}

/*Estilo de los botones*/
.build-button {
  padding: 12px;
  padding-top: 9px;
  padding-bottom: 9px;
  min-width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
  width: 220px;
  background-color: #3ea055;
  color: #fff;
  border: none;
  font-size: 16px;
  display: inline-block;
}
