body {
  background-image: url("https://wallpapercave.com/wp/wp2033589.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-size: 16px;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/*Contenedores principales*/
.column {
  float: left;
  width: 50%;
}

.main-container {
  margin-top: 4%;
}

.main-container:after {
  content: "";
  display: table;
  clear: both;
}
